:root {
	--primary-color: #212227;
	--secondary-color: #2e3544;
	--border-color: #374358;
	--shadow-color: #ffffff00;
	--text-color: #ffffff;

	--button-primary: #224299;
	--button-border-color: #466aa9;

	--button-hover: #001a63;
	--button-hold: #7094d3;
}

@font-face {
	font-family: "JetBrainsMono";
	src: url("JetBrainsMono-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

body {
	font-family: 'JetBrainsMono', monospace;
	letter-spacing: -1px;
	background: var(--primary-color);
	color: #ffffff;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.box {
	width: 80%;
	height: 90%;
	background-color: var(--secondary-color);
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--border-color);

	color: #ffffff;

	padding: 15px;

	box-shadow: 0px 0px 15px var(--shadow-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: justify;
}

.fit_box {
	width: 100%;
	height: auto;

	color: #ffffff;
	column-gap: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	text-align: justify;
}

.text_box {
	width: 70%;
	height: auto;

	color: #ffffff;

	padding: 15px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: justify;
}

.fill {
	flex-grow: 1;
	height: 200px;
}

button {
	font-size: 18px;
	color: var(--text-color);
	background-color: var(--button-primary);
	border-radius: 5px;
	border-style: solid;
	border-color: var(--button-border-color);
	transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, scale 0.1s ease-in-out;
}

button:hover {
	scale: 1.05;
	background-color: var(--button-hover);
}

button:active{
	scale: 0.95;
	background-color: var(--button-hold);
}

p {
	font-family: 'JetBrainsMono';
	font-size: 15px;
	font-weight: 300;
}

h1 {
	font-size: 50px;
	font-weight: 900;
}

h2 {
	color: rgb(255, 255, 255);
	font-size: 22px;
	font-weight: 100;
}

h3 {
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 100;
}

hr {
	width: 80%;
	height: 1px;
	background-color: rgb(255, 255, 255);
	border-style: none;
}