<!DOCTYPE html>
<html lang="pt-br">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css.css">
	</head>

	<body>
		<header>
			<nav class="navbar navbar-expand-lg  fixed-top">
				<div class="container-fluid">
					<a class="navbar-brand" href="/" id="text_navbar">Minhas Listas</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
									Outras listas
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="/lista">Filmes</a></li>
									<li><a class="dropdown-item" href="/chaveada">Notas dos filmes</a></li>
									<li><a class="dropdown-item" href="/conjuntos">Gêneros</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		
		<main class="py-5" style="margin-top: 60px;">
			<div class="container">
				<h1 class="mb-5 text-center">Filmografia de 2026</h1>
				
				<div class="row g-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
					<div class="col">
						<div class="card h-100 shadow-sm">
							<img src="{{ url_for('static', filename='assistir.jpg') }}" class="card-img-top" alt="Lista Ordenada" style="height: 200px; object-fit: cover;">
							<div class="card-body d-flex flex-column">
								<h5 class="card-title">Filmes a serem assistidos</h5>
								<p class="card-text flex-grow-1">Filmes pendentes que necessitam serem assistidos.</p>
								<a href="/lista" class="btn btn-primary w-100">Acessar</a>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="card h-100 shadow-sm">
							<img src="{{ url_for('static', filename='nota.png') }}" class="card-img-top spin" alt="Card 2" style="height: 200px; object-fit: contain;">
							<div class="card-body d-flex flex-column">
								<h5 class="card-title">Nota dos filmes</h5>
								<p class="card-text flex-grow-1">Nota dos filmes, postas no intervalo de 0 a 10.</p>
								<a href="/chaveada" class="btn btn-primary w-100">Acessar</a>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="card h-100 shadow-sm">
							<img src="{{ url_for('static', filename='like.jpg') }}" class="card-img-top" alt="Card 3" style="height: 200px; object-fit: cover;">
							<div class="card-body d-flex flex-column">
								<h5 class="card-title">Gêneros que mais gostei</h5>
								<p class="card-text flex-grow-1">Gêneros que nais causaram emoções positivas.</p>
								<a href="/conjuntos" class="btn btn-primary w-100">Acessar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="bg-dark py-4 border-top mt-5">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<p class="text- mb-0" style="color: #ffffff;">Gabriel Cayres</p>
						<p class="text- mb-0" style="color: #ffffff;">Gustavo Hiroshi</p>
					</div>
				</div>
			</div>
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
	</body>
</html>