<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lista de Tarefas</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css.css">
</head>

<body class="fill">

	<header>
		<nav class="navbar navbar-expand-lg fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">Minhas Listas</a>

				<button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto bg-light">
						<li class="nav-item dropdown bg-light">
							<a class="nav-link dropdown-toggle bg-light" href="#" data-bs-toggle="dropdown">
								Outras listas
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/lista">Notas dos filmes</a></li>
								<li><a class="dropdown-item" href="/">Home</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<main class="center" style="margin-top: 70px; padding: 20px;">

		<div class="box">

			<h1>Lista de Tarefas</h1>

			<hr>

			<form action="{{url_for('tarefas')}}" method="post" class="fit_box">
				<input 
					type="text" 
					name="item_conjunto" 
					id="item_conjunto" 
					required 
					class="form-control"
					placeholder="Digite um item..."
				>

				<button type="submit">Adicionar</button>
			</form>

			<hr>

			{% if conjunto %}
				<div class="text_box">
					<h2>Itens ({{ conjunto|length }})</h2>

					<ol>
						{% for item in conjunto %}
							<li>{{ item }}</li>
						{% endfor %}
					</ol>
				</div>
			{% else %}
				<p>Nenhum item presente!</p>
			{% endif %}

		</div>

	</main>

	<footer class="center">
		<p>© 2026 The Guild, Inc</p>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>